# Devenv
.devenv*
devenv.local.nix
poetry.lock
shell.nix
devenv.lock

# direnv
.direnv
.venv
.vscode

# pre-commit
.pre-commit-config.yaml

.ipynb_checkpoints

data/speeches2014-2024/party_affilliations_fixed/speeches_2014-2024_speakers_parties_fixed.csv
modal/__pycache__/
*.pyc